*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --full-height: 100vh;
  --full-dynamic-height: 100dvh;
  --full-width: 100vw;
  --full-dynamic-width: 100dvw;
}

#content {
  position: relative;
  height: var(--full-dynamic-height, --full-height);
  width: var(--full-dynamic-width, --full-width);
  background-color: #1c1c1c;
  overflow: hidden;
}

.logo {
  position: absolute;
  border-radius: 100%;
  height: 100px;
  box-shadow: 0px 0px 100px -5px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 100px -5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 100px -5px rgba(255, 255, 255, 0.75);
  transition: transform 0.1s ease;
  user-select: none;
}
